html {
  font-family: "Raleway, sans-serif;" 
}
body { 
  height: 100%;
  overflow: hidden;
}

:root {
  --pic0: 
  --pic1: 
  --pic2: 
  --pic3: 
  --pic4: 
  --pic5: 
  --pic6: 
  --pic7: 
  --pic8: 
}
.printedCont, .printed {
  display: inline-block;
  font-size: 20px;
}
.resultCont {
  grid-column-start:3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 50px;
}

.loss, .profit, .payoff, .printed {
  color: red;
  margin-left: 30px;
}

.btn-cont{
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 3;
  display: flex;
  justify-content: space-between;
}
.realOuter {
  display: grid;
  grid-template-columns: 1000px 550px auto; 
  grid-template-rows: 350px 30px 500px;
}
#pie {
  width: 600px;
  height: 600px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#box {
  width: 1000px;
  height: 750px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.outer {
  position: relative; 
  width: 550px;
  height: 344px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px solid black;
  border-radius: 2px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(13, 26px);
  grid-template-columns: repeat(23, 24px);
  width: 550px;
  height: 344px;
  background: url("blankBase.png");
}

.grid > div {
  background-image: url("toHover1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* relative to outer grid */
  background-position: 1292px 77.2px;
  /* initial position */
  /*background-position: 290.9px 80.5px;*/
  z-index: 2;
/*  border: 1px solid black; */
}

.serial {
  position: relative;
  height: 20px;
  width: 100px;
  top: 266px;
  left: 395px;
  font-weight: 600;
}

.cont {
  position:absolute;
  /* border: 1px solid black; */
  width: 250px;
  height: 170px;
  left: 285px;
  top: 50px;
  display: grid;
  grid-template-columns: 90px 70px 80px;
  grid-template-rows: 55px 40px 55px;
  z-index: 1;
}

#a0 {
  background: var(--pic0);
  background-position: center;
  background-repeat: no-repeat;
}

#a1 {
  background: var(--pic1);
  background-position: center;
  background-repeat: no-repeat;
}

#a2 {
  background: var(--pic2);
  background-position: center;
  background-repeat: no-repeat;
}

#a3 {
  background: var(--pic3);
  background-position: center;
  background-repeat: no-repeat;
}

#a4 {
  background: var(--pic4);
  background-position: center;
  background-repeat: no-repeat;
}

#a5 {
  background: var(--pic5);
  background-position: center;
  background-repeat: no-repeat;
}

#a6 {
  background: var(--pic6);
  background-position: center;
  background-repeat: no-repeat;
}

#a7 {
  background: var(--pic7);
  background-position: center;
  background-repeat: no-repeat;
}

#a8 {
  background: var(--pic8);
  background-position: center;
  background-repeat: no-repeat;
}


/*
.one {
  z-index: -1;
}
*/
